:root {
  /* Base colors */
  --background-grey: hsl(0deg 0% 10% / 100%);
  --dark-grey: hsl(0deg 0% 15% / 100%);
  --mechabyte-grey: hsl(0deg 0% 20% / 100%);
  --light-grey: hsl(0deg 0% 60% / 100%);

  --mechabyte-green: hsl(120deg 100% 50% / 100%);
  
  /* Gear conveyor theme colors */
  --robot-metal: hsl(0deg 0% 30% / 100%);
  --gear-accent: hsl(120deg 100% 40% / 100%);
  --conveyor-bg: hsl(0deg 0% 12% / 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--light-grey);
  background: var(--background-grey);
  line-height: normal;
  font-family:
    'Ubuntu',
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
