@import "./base.css";

#app {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: clamp(36px, 72px, 6vw);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

em {
  font-size: clamp(12px, 24px, 2vw);
  font-style: italic;
  font-weight: 600;
}

p {
  font-size: clamp(10px, 20px, 1.67vw);
}
